.CarLog {
  line-height: 1.65;
  margin-top: 35px;
  text-align: left;
}

.CarLog h2 {
  margin-top: 5px;
  margin-left: 15px;
}

.CarLog span {
  font-weight: 600;
  color: #626262;
}

.CarInfo {
  line-height: 1;
  margin-top: 20px;
}

.InfoSummary {
  margin-left: 25px;
  color: #9c9c9c;
}

.logButtons {
  position: absolute;
  right: 30px;
  bottom: 85px;
}

.App .logButtons .btn-link {
  font-size: 24px;
  padding-right: 0;
  background: none;
  box-shadow: none;
}

.App .logButtons .btn-link:hover {
  color: #d8d8d8;
  background: none;
  box-shadow: none;
}

.CarLogTrips {
  padding: 0;
  z-index: -1;
}

/* .nav-tabs { margin: 10px 0; }

.nav-tabs li a { line-height: 0.9; }

.tab-content { padding: 0 20px; }

.tab-content h3 { font-size: 21px; } */
