.CarLog {
  line-height: 1.65;
  margin-top: 35px;
  text-align: left;
}

.CarLog h2 { margin-top: 5px; }

.CarLog span {
  color: #3c763d;
  font-weight: 600;
}

.CarInfo {
  line-height: 1;
  margin-top: 20px;
}

.InfoSummary {
  margin: 10px auto;
  width: 320px;
}

.logButtons {
  position: absolute;
  right: 30px;
  top: 5px;
}

.logButtons .btn {
  font-size: 24px;
  padding-left: 0;
}

.nav-tabs { margin: 10px 0; }

.nav-tabs li a { line-height: 0.9; }

.tab-content { padding: 0 20px; }

.tab-content h3 { font-size: 21px; }
