.FleetOverview {
  background-color: white;
  box-shadow: 2px 3px 13px rgba(0, 0, 0, 0.25);
  padding: 35px 45px;
}

.FleetOverview h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.FleetOverview a {
  color: #3c3c3c;
  text-decoration: none;
}

.OverviewButtons { width: 70px; }

.App .OverviewButtons .btn-link {
  background: none;
  color: #178FE7;
  box-shadow: none;
  padding: 0 5px;
}

.App .OverviewButtons .btn-link:hover {
  color: #0a76c5;
  background: none;
}
