.navbar {
  margin-bottom: -1px;
  height: 62px;
}
.navbar .container { margin: 5px auto; }

.navbar-brand { padding-top: 5px; }

.sf-logo { height: 40px; }

.navbar .dropdown { font-size: 1.5em; }

.LoginButton { margin-top: 10px; }

.Login .modal-dialog{
  position: absolute;
  right: 0;
}

.Login .form-group { margin: 0; }

.Login .modal-content {
  padding: 10px 15px;
  line-height: 0.3;
  position: absolute;
  box-shadow: none;
  top: 25px;
  background-color: #dfdfdf;
}

.Login .modal-body {
  padding: 0;
  width: 200px;
}

.Login button {
  float: right;
  margin-top: 8px;
  margin-left: 8px;
}

.Login .modal-backdrop { opacity: 0; }

.Login input {
  font-size: 12px;
  height: 32px;
}
.dropdown-menu li a {
  color: #7e7e7e !important;
  padding: 7px 12px;
  background: none !important;
}

.dropdown-menu li a:hover {
  background-color: #dcdcdc !important;
  cursor: pointer;
}

.divider { margin: 0 !important; }
